<div class="article_back_details">
  <%= link_to 'Retour aux articles', articles_path, class: 'cta main-cta' %>
  <p class="article_details">Publié par <strong><%= @article.user.fullname %></strong><br>Le <%= @article.published_at %></p>
</div>
<div class="sizer">
  <%= yield -%>
</div>
<div class="article_back_details">
  <%= link_to 'Retour aux articles', articles_path, class: 'cta main-cta' %>
  <p class="article_details">Publié par <strong><%= @article.user.fullname %></strong><br>Le <%= @article.published_at %></p>
</div>