<script src="https://cdn.tiny.cloud/1/fy797dzzdvsf994ijhdhbbn9gldk35db66yi55payc1wv2v7/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
    selector: '.editable',  // change this value according to your HTML
    plugins: 'ai mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
    toolbar: 'undo redo | code blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    });
</script>

<div id="article_new_container" class="sizer">
    <%= form_with model: @article do |form| %>
        <div class="field">
            <%= form.label :title %>
            <%= form.text_area :title, rows: 3, cols: 30 %>
        </div>

        <div class="field">
            <%= form.label :description %>
            <%= form.text_area :description, rows: 3, cols: 30 %>
        </div>

        <div class="field">
            <%= form.label :content %>
            <%= form.text_area :content, class: 'editable', rows: 30 %>
        </div>
        
        <div class="field">
            <%= form.label :article_category %>
            <%= form.collection_select :article_category_id, ArticleCategory.order(:title), :id, :title %>
        </div>

        <div class="field">
            <%= form.submit %>
        </div>
    <% end %>
</div>