<div id="accueil_container">
    <div class="orange_plate">
        <div id="banner_container" class="sizer">
            <div id="banner_text">
                <h2>Si vous voulez briller, faites-le avec les meilleurs.</h2>
                <p>Alliant maîtrise technique et transparence, HP Web Solutions est votre partenaire digital de confiance.Visez l'inatteignable, nous l'atteindrons.</p>
                <div id="banner_cta">
                    <a href="tel:+33622246688" class="main-cta cta">06 22 24 66 88</a>
                    <a href="mailto:contact@hpwebsolutions.fr" class="secondary-cta cta">contact@hpwebsolutions.fr</a>
                </div>
            </div>

            <img src="<%= asset_path 'hero-illustration.png' %>" alt="Illustration de création de site web.">
        </div>
    </div>

    <div id="services_container" class="sizer">
        <h2>Nos Services</h2>

        <div id="services">
            <div class="service_card">
                <img src="<%= asset_path 'tpe pme.png' %>" alt="Icon représentant les TPE PME et ETI.">
                <h3>TPE - PME - ETI</h3>
                <p>Vous cherchez à gagner en visibilité et à soigner votre image sur le web ?</p>
            </div>
            <div class="service_card">
                <img src="<%= asset_path 'e commerce.png' %>" alt="Icon représentant les TPE PME et ETI.">
                <h3>Boutique en Ligne</h3>
                <p>Vos clients raffolent de vos articles et souhaiteraient pouvoir les commander directement.</p>
            </div>
            <div class="service_card">
                <img src="<%= asset_path 'blog.png' %>" alt="Icon représentant les TPE PME et ETI.">
                <h3>Blog</h3>
                <p>Partagez vos aventures, donnez votre avis, rassemblez une communauté autour d'un sujet.</p>
            </div>
            <div class="service_card">
                <img src="<%= asset_path 'custom.png' %>" alt="Icon représentant les TPE PME et ETI.">
                <h3>Outils sur mesure</h3>
                <p>Servez-vous de l'informatique. Développons ensemble l'outil qui réglera vos soucis.</p>
            </div>
        </div>
    </div>

    <div class="orange_plate">
        <div id="competences_container" class="sizer">
            <div class="competence_card">
                <h3>Web Design</h3>
                <p>Nous travaillons main dans la main avec des partenaires qui seront ravis de concevoir vos maquettes, et de créer ou améliorer l'identité visuelle de votre entreprise.</p>
            </div>

            <div class="competence_card">
                <h3>Web Development</h3>
                <p>Tout simplement notre coeur de métier. Transposer votre vision en ligne de code afin de vous livrer l'application dont vous avez besoin.</p>
            </div>

            <div class="competence_card">
                <h3>Référencement SEO</h3>
                <p>Nous nous efforçons de respecter scrupuleusement les règles de sémantiques et faisons le maximum pour que vous puissiez viser les top recherches sans passer par des annonces sponsorisées.</p>
            </div>
        </div>
    </div>

    <div id="adaptation_container" class="sizer">
        <img src="<%= asset_path 'adaptation-illustration' %>" alt="Illustration de l'accompagnement et de notre adaptation à chaque client.">

        <div id="adaptation_text">
            <h2>On s'adapte !</h2>

            <h3>Nous vous aidons à trouver la solution la plus adaptée.</h3>

            <p>Chez nous, chaque projet web est une nouvelle aventure technologique.<br><br>Nous possédons une expertise dans une multitude de technologies web et nous nous appliquons à dénicher la solution la plus adaptée à chaque client.<br><br>Que vous soyez à la recherche d'une solution fiable et éprouvée pour un lancement rapide sur le web, ou que vous envisagiez un développement sur mesure pour répondre à des besoins spécifiques, nous sommes là pour vous guider. Notre engagement est de combiner expertise technique et budget client pour un résultat harmonieux et efficace.</p>
        </div>
    </div>

    <div class="orange_plate">
        <div id="citation_container" class="sizer">
            <div class="citation-card">
                <img src="<%= asset_path 'Alan_Kay.jpg' %>" alt="Photo d'Allan Kay.">
                <p>“Le meilleur moyen de prévoir l'avenir est de le créer.”</p>
                <h3>Alan Kay</h3>
            </div>

            <div class="citation-card">
                <img src="<%= asset_path 'steve_jobs.jpg' %>" alt="Photo d'Allan Kay.">
                <p>“Les grandes réalisations sont toujours précédées par de grandes pensées.”</p>
                <h3>Steve Jobs</h3>
            </div>
        </div>
    </div>

    <div id="pourquoi_nous_container" class="sizer">
        <h2>Pourquoi Nous ?</h2>

        <div id="pourquoi_nous">
            <div class="pourquoi_nous_card">
                <img src="<%= asset_path 'passion.png' %>" alt="Icon représentant la passion pour le numérique et le web.">
                <h3>Passion</h3>
                <p>Chez nous, la passion est le moteur de chaque projet. Nous croyons profondément en la puissance du digital pour transformer les idées en réalités palpables. Cette passion se reflète dans la qualité de notre travail, l'attention aux détails et notre engagement envers chaque client pour dépasser leurs attentes.</p>
            </div>
            <div class="pourquoi_nous_card">
                <img src="<%= asset_path 'pro.png' %>" alt="Icon représentant notre professionnalisme.">
                <h3>Professionnel</h3>
                <p>Notre équipe de professionnels dévoués possède une riche expérience dans le domaine du développement web et des solutions digitales. Nous respectons les normes et les meilleures pratiques de l'industrie, assurant ainsi que chaque projet est réalisé avec rigueur, efficacité et dans le respect des délais.</p>
            </div>
            <div class="pourquoi_nous_card">
                <img src="<%= asset_path 'support.png' %>" alt="Icon représentant notre support.">
                <h3>Support</h3>
                <p>Nous comprenons l'importance d'un support fiable et réactif. C'est pourquoi nous nous engageons à fournir une assistance continue tout au long de votre projet et bien après son lancement. Notre support est là pour répondre à vos questions, résoudre les problèmes et vous guider à chaque étape de votre parcours digital.</p>
            </div>
        </div>
    </div>

    <div class="orange_plate">
        <div id="passez_le_cap_container" class="sizer">
            <h2>Passez le cap dès aujourd'hui !</h2>
            <p>Votre concurrent nous a appelés hier, vous attendez quoi?</p>
            <div id="passez_le_cap_cta">
                <a href="tel:+33622246688" class="main-cta cta">06 22 24 66 88</a>
                <a href="mailto:contact@hpwebsolutions.fr" class="secondary-cta cta">contact@hpwebsolutions.fr</a>
            </div>
        </div>
    </div>

    
</div>
