<div id="tarifs_container">

    <div class="orange_plate">
        <h1>Tarifs</h1>
    </div>

    <h2 class="color-fourth">Offres Développement</h2>

    <div class="snip1265">
        <!-- Landing Page Offer -->
        <div class="plan">
            <header><i class="ion-ios-paper-plane-outline"></i>
                <h4 class="plan-title">
                    Landing Page
                </h4>
                <p class="plan-description">Idéale pour les lancements de produits ou les événements.</p>
                <div class="plan-cost"><span class="plan-price">à partir de 400€ H.T. </span></div>
            </header>
            <ul class="plan-features">
                <li>1 Page</li>
                <li>Nom de domaine</li>
                <li>Optimisé pour le SEO</li>
                <li>Formulaire de contact</li>
                <li>Design responsif</li>
            </ul>
            <div class="plan-select"><%= link_to 'Contact', new_contact_path %></div>
        </div>

        <!-- Site Vitrine Offer -->
        <div class="plan featured">
            <header><i class="ion-ios-images-outline"></i>
                <h4 class="plan-title">
                    Site Vitrine
                </h4>
                <p class="plan-description">La meilleure manière de présenter votre entreprise et ses services.</p>
                <div class="plan-cost"><span class="plan-price">à partir de 950€ H.T. </span></div>
            </header>
            <ul class="plan-features">
                <li>2 - 5 Pages</li>
                <li>Nom de domaine</li>
                <li>Optimisé pour le SEO</li>
                <li>Formulaire de contact</li>
                <li>Design responsif</li>
                <li>Galerie de photos</li>
                <li>Divers options (blogging, administration, espace de connexion...)</li>
            </ul>
            <div class="plan-select"><%= link_to 'Contact', new_contact_path %></div>
        </div>

        <!-- E-Boutique Offer -->
        <div class="plan">
            <header><i class="ion-ios-cart-outline"></i>
                <h4 class="plan-title">
                    E-Boutique
                </h4>
                <p class="plan-description">Vendez vos produits en ligne.</p>
                <div class="plan-cost"><span class="plan-price">à partir de 2 000€ H.T. </span></div>
            </header>
            <ul class="plan-features">
                <li>2 - 10 Pages</li>
                <li>Nom de domaine</li>
                <li>Optimisé pour le SEO</li>
                <li>Formulaire de contact</li>
                <li>Galerie de photos</li>
                <li>Divers options (blogging, administration, espace de connexion...)</li>
                <li>Paiements sécurisés</li>
                <li>Gestion de produits</li>
                <li>Suivi des commandes</li>
                <li>Design responsif</li>
            </ul>
            <div class="plan-select"><%= link_to 'Contact', new_contact_path %></div>
        </div>

        <!-- Outil sur mesure Offer -->
        <div class="plan">
            <header><i class="ion-ios-code-working"></i>
                <h4 class="plan-title">
                    Sur mesure
                </h4>
                <p class="plan-description">Adaptée à vos besoins uniques.</p>
                <div class="plan-cost"><span class="plan-price">Basé sur le cahier des charges</span></div>
            </header>
            <ul class="plan-features">
                <li>Solutions personnalisées</li>
                <li>Fonctionnalités avancées</li>
                <li>Intégrations tierces</li>
            </ul>
            <div class="plan-select"><%= link_to 'Contact', new_contact_path %></div>
        </div>
    </div>

    <h2 class="color-fourth">Offres Maintenance</h2>

    <div class="snip1265">

        <!-- Starter Offer -->
        <div class="plan">
            <header><i class="ion-ios-navigate-outline"></i>
                <h4 class="plan-title">
                    Starter
                </h4>
                <div class="plan-cost"><span class="plan-price">75€ H.T. </span><span class="plan-type">/ mois</span></div>
            </header>
            <ul class="plan-features">
                <li>Hébergement</li>
                <li>1h de maintenance par mois</li>
                <li>Mises à jour mensuelles 'sécurité'</li>
            </ul>
            <div class="plan-select"><%= link_to 'Contact', new_contact_path %></div>
        </div>
    
        <!-- Pro Offer -->
        <div class="plan">
            <header><i class="ion-ios-navigate-outline"></i>
                <h4 class="plan-title">
                    Pro
                </h4>
                <div class="plan-cost"><span class="plan-price">125€ H.T. </span><span class="plan-type">/ mois</span></div>
            </header>
            <ul class="plan-features">
                <li>Hébergement</li>
                <li>2h de maintenance par mois</li>
                <li>Mises à jour mensuelles 'sécurité' + 'performance'</li>
                <li>Sauvegardes Mensuelles</li>
            </ul>
            <div class="plan-select"><%= link_to 'Contact', new_contact_path %></div>
        </div>

        <!-- Platinium Offer -->
        <div class="plan featured">
            <header><i class="ion-ios-people"></i>
                <h4 class="plan-title">
                    Platinium
                </h4>
                <div class="plan-cost"><span class="plan-price">180€ H.T. </span><span class="plan-type">/ mois</span></div>
            </header>
            <ul class="plan-features">
                <li>Hébergement</li>
                <li>3h de maintenance par mois</li>
                <li>Mises à jour hebdomadaires 'sécurité' + 'performance'</li>
                <li>Sauvegarde Bi-mensuelles</li>
                <li>Assistance téléphonique prioritaire</li>
                <li>Optimisation SEO continue</li>
            </ul>
            <div class="plan-select"><%= link_to 'Contact', new_contact_path %></div>
        </div>
    </div>
</div>
