<div id="contact_container">
    <div class="orange_plate">
        <h1>Contactez-nous</h1>
    </div>

    <%= form_with model: @contact, url: contacts_path, local: true do |f| %>
        <%= f.label :name, 'Nom et Prénom:' %>
        <%= f.text_field :name %>

        <%= f.label :company_name, 'Nom de la société:' %>
        <%= f.text_field :company_name %>

        <%= f.label :email, 'Adresse e-mail:' %>
        <%= f.email_field :email %>

        <%= f.label :phone, 'Numéro de téléphone:' %>
        <%= f.telephone_field :phone %>

        <%= f.label :project_description, 'Description du projet:' %>
        <%= f.text_area :project_description, rows: 10 %>

        <%= f.submit 'Envoyer', class: 'main-cta cta' %>
    <% end %>
</div>
