<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Création de Site Web sur Mesure à Val de Briey | HP Web Solutions</title>
    <meta name="description" content="Spécialisé dans la création de site web et d'applications sur mesure, HP Web Solutions est votre partenaire numérique de choix à Val de Briey et dans ses environs.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="canonical" href="https://hpwebsolutions.fr">

    <!-- Preconnect to external domains -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Preload assets -->
    <link rel="preload" as="style" href="<%= asset_path 'application.css' %>">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;400;700&display=swap" onload="this.onload=null;this.rel='stylesheet'">


    <!-- Favicon and touch icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Remaining assets -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <!-- Load the stylesheet asynchronously -->
    <script>
      var font = document.createElement('link');
      font.rel = 'stylesheet';
      font.href = 'https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;400;700&display=swap';
      font.type = 'text/css';
      var goodFont = document.getElementsByTagName('link')[0];
      goodFont.parentNode.insertBefore(font, goodFont);
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GXCF82P691">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GXCF82P691');
    </script>

    <!-- Hotjar Tracking Code for https://hpwebsolutions.fr/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3652652,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

  </head>

  <body>
    <div id="logo-nav-container" class="sizer" data-controller="burger-menu" width="64" height="60">
      <%= link_to root_path do %>
        <img src="<%= asset_path 'logo.svg' %>" alt="Logo de HP Web Solutions" height="300" height="79">
      <% end %>

      <img class="menu_icon" id="open_icon" src="<%= asset_path 'burger_menu.svg' %>" alt="Icon d'ouverture menu." data-action="click->burger-menu#open" data-burger-menu-target="openIcon">
      <img class="menu_icon hidden" id="close_icon" src="<%= asset_path 'close.svg' %>" alt="Icon de fermeture menu." data-action="click->burger-menu#close" data-burger-menu-target="closeIcon">

      <nav data-burger-menu-target="burgerMenu">
        <ul>
            <li><%= link_to 'Accueil', root_path %></li>
            <li><%= link_to 'Nos Services', '/#services' %></li>
            <li><%= link_to 'Articles', articles_path %></li>
            <li><%= link_to 'Tarifs', tarifs_path %></li>
            <li><%= link_to 'Contact', new_contact_path %></li>
        </ul>
      </nav>
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'shared/flashes' %>
    
  </body>
</html>
