<!DOCTYPE html>
<html>
  <head>
    <title>HP Web Solutions - Site Web & Application sur mesure | Val de Briey</title>
    <meta name="description" content="HP Web Solutions offre des solutions sur mesure en conception de site web et d'outils sur mesure à Val de Briey et ses alentours.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <html lang="fr">
    <link rel="canonical" href="https://hpwebsolutions.fr">
    <link rel="preload" as="image" href="https://i.ibb.co/hFw6KPb/hero-illustration.webp">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "HP Web Solutions",
      "url": "https://hpwebsolutions.fr"
    }
    </script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body>
    <div id="logo-nav-container" class="sizer" data-controller="burger-menu" width="64" height="60">
      <%= link_to root_path do %>
        <img src="<%= asset_path 'logo.svg' %>" alt="Logo de HP Web Solutions" height="300" height="79">
      <% end %>

      <img class="menu_icon" id="open_icon" src="<%= asset_path 'burger_menu.svg' %>" alt="Icon d'ouverture menu." data-action="click->burger-menu#open" data-burger-menu-target="openIcon">
      <img class="menu_icon hidden" id="close_icon" src="<%= asset_path 'close.svg' %>" alt="Icon de fermeture menu." data-action="click->burger-menu#close" data-burger-menu-target="closeIcon">

      <nav data-burger-menu-target="burgerMenu">
        <ul>
            <li><%= link_to 'Accueil', root_path %></li>
            <li><%= link_to 'Tarifs', tarifs_path %></li>
            <li><%= link_to 'Nos Services', '/#services' %></li>
            <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </nav>
    </div>
    <%= yield %>
    <%= render 'shared/flashes' %>
  </body>
</html>
